# local package
# -e .
# pytorch-cpu
# tsai

### Data ###
pandas
pandas-gbq
google-cloud-bigquery
google-cloud-storage

### ML ###
tsfel
scipy==1.8.1
sklearn

### Viz ###
matplotlib
ipywidgets
plotly.express
jupyter-dash

### Dash App ###
dash-bootstrap-components
redis
fakeredis
pyarrow

### Setup ###
